.topHeader {
  color: rgb(255, 255, 255);
  background-color: rgb(96, 212, 115);
  background-image: linear-gradient(
    rgb(107, 255, 131),
    rgb(57, 141, 71),
    rgb(21, 53, 26)
  );
}
.pageContainer {
  padding: 1em 5%;
  background-color: rgba(0, 160, 24, 0.2);
}

.pageHeading {
  border-right: 5px Solid rgb(0, 126, 19);
  border-bottom: 5px Solid rgb(0, 126, 19);
  color: rgb(0, 126, 19);
  padding: 1% 5%;
  text-align: center;
}
.content {
  padding: 5% 0 0 0;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}
.content ul {
  list-style-type: none;
  padding: 0 13%;
  margin: 0.6%;
  text-align: center;
}
.content li {
  width: 200px;
  border: 5px Solid rgb(73, 73, 73);
  background-color: rgb(73, 73, 73);
  margin: 0.6%;
}
.content li a {
  color: white;
  line-height: 3em;
}
.content li:hover {
  background-image: linear-gradient(
    rgb(18, 80, 37),
    rgb(33, 150, 70),
    rgb(127, 250, 148)
  );
}

.workBox {
  padding: 0.5%;
  margin: 0.2%;
  height: 150px;
  border: 5px Solid rgb(73, 73, 73);
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(28, 121, 57);
  background-image: linear-gradient(
    rgb(18, 80, 37),
    rgb(33, 150, 70),
    rgb(127, 250, 148)
  );
}
.workBox a {
  color: white;
}
.workBox:hover {
  opacity: 0.5;
  cursor: pointer !important;
}
.first {
  background: rgb(28, 121, 57) url("../assets/images/worldofwords.png") repeat-y;
  background-size: 50% auto;
  height: 170px;
}
.second {
  background: rgb(28, 121, 57) url("../assets/images/neighborhoodwatch.png")
    repeat-y;
  background-size: 50% auto;
}
.third {
  background: rgb(28, 121, 57) url("../assets/images/chromesthesia.png") repeat-y;
  background-size: 50% auto;
}
.fourth {
  background: rgb(28, 121, 57) url("../assets/images/googlebooks.png") repeat-y;
  background-size: 50% auto;
}
.fifth {
  background: rgb(28, 121, 57) url("../assets/images/employeedirectory.png") repeat-y;
  background-size: 50% auto;
}
.workContent label {
  font-size: 1em;
  margin-left: 55%;
}
.footer {
  color: rgb(0, 109, 16);
  text-align: center;
  font-style: italic;
}
